{% extends 'Base/base.html' %}
{% load static %}
{% block title %} Thanks {% endblock title %}
{% block content %} <br>
<div class="card text-center my-4">
  <div class="card-body">
    <h2 class="card-title">ThankYou!! </h2>
    <h4 class="card-subtitle mb-2 text-muted my-3">We will keep you informed</h4>
    <p class="card-text my-3">You can use your Email or Contact number as Login and see the fluctuation of prices for your Product.</p>
    <a href="#" class="card-link"><i class="far fa-envelope-open"></i> Email</a>
    <a href="#" class="card-link"><i class="fas fa-phone"></i> Contact Number</a>
  </div>
</div><br><br><br>
 {% endblock content %}